@model Person


<a asp-controller="Home" asp-action="Index">Home</a>

<h2>Create or edit a contact</h2>

<div>

    <form asp-controller="Home" asp-action="Edit" method="post">
        <input asp-for="Id" type="hidden" />
        <div>
            <label>Name</label>
            <input asp-for="Name" type="text" pattern="[a-zA-ZáÁčČďĎéÉěĚíÍňŇóÓřŘšŠťŤúÚůŮýÝžŽ]+$" title="Only letters are allowed" required />
            <span asp-validation-for="Name" style="color: red;"></span>
        </div>
        <div>
            <label>Surname</label>
            <input asp-for="Surname" type="text" pattern="[a-zA-ZáÁčČďĎéÉěĚíÍňŇóÓřŘšŠťŤúÚůŮýÝžŽ]+$" title="Only letters are allowed" required />
            <span asp-validation-for="Surname" style="color: red;"></span>
        </div>
        <div>
            <label>Phone Number</label>
            <input asp-for="PhoneNumber" type="tel" pattern="[1-9]{1}[0-9]{8}" title="Example: 123456121" required />
            <span asp-validation-for="PhoneNumber" style="color: red;"></span>
        </div>
        <div>
            <label>Email</label>
            <input asp-for="Email" type="email" title="Example: joe@example.com" required />
            <span asp-validation-for="Email" style="color: red;"></span>
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>